.container {
   /* width: 600px; */
   display: flex;
  /* height: 1200px; */
   border: 15px solid red;
}
.inner {
   /* max-width: 1000px;
    min-width: 400px;
    width: 100%; */
   /* max-height: 500px; */
    /* width: 600px; */
    height: 100%;
    width: 300px;
   /* margin-right: 80px
    margin-left: 100px; */
   /* margin: 50px 100px; */
   margin: 10px;
    padding: 100px 90px 30px 10px;
    border: 5px solid;
    margin: auto;
}

.glass {
    width: 70%;
    margin: auto;
    padding: 100px 70px;
    text-align: center;
    background: rgba(155, 155, 155, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    border: 1px solid rgba(255,255,255,0.3);
}
.container2 {
    text-align: center;
    border-width: 100px;
    border-style: inset;
    border-left-style: dotted;
    border-color: aquamarine;
    border-left-color: black;
    border-right-color: pink;
}
.inner2 p {
    margin: auto;
    width: 200px;
}
