* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
.logo {
    display: inline-block;
    width: 15%;
}
.navbar-nav {
    display: inline-block;
    width: 80%;
}
.nav__menu {
    margin-left: auto;
    width: 60%;
}
.nav__item {
    display: inline-block;
    margin: 0 20px;
}
