* {
    margin: 0;
    padding: 0;

}
body {
    display: grid;
    place-items: center;
background: url("https://tse3.mm.bing.net/th?id=OIP.Xxp2r7d5Dmg6mLN2qVUxxAHaE8&rs=1&pid=ImgDetMain");
background-position: center ;
background-repeat: no-repeat;
background-size: cover;
text-align: center;
height: 100vh;
}
.card {
    width: 70%;
    margin: auto;
    padding: 100px 70px;
    text-align: center;
    background: rgba(155, 155, 155, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    border: 1px solid rgba(255, 255, 255, 0,3);
}
.card h3 {
    color: #d8d5dc;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card p {
    color: #371d67;
    margin: 60px 0;
}

.btn {
    padding: 10px;
    background: #310b727a;
    color: #d8d5dc;
    border: none;
    border-radius: 10px;
    text-decoration: none;
}