.container {
background-color: yellow;
}

.box {
    width: 200px;
    height: 300px;
    border: 10px solid hsl(280, 80%, 30%);
    background: hsl(280, 80%, 40%);
}

.box-2 {
    background: hsl(280, 79%, 60%);
/* display: none; */
}

/* inline - kenglik, balandlik, margin-x olmaydi */
.box {
/*display: inline; */
display: inline-block;
}

li {
    display: inline;
}
span {
    display: inline-block;
   /* visibility: hidden; */
    /* opacity: 1; */
    width: 300px;
    padding: 20px;
    margin: 50px;
}
/* block */